---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imgTrabajando from "../img/yoTrabajando.webp";
---

<Layout title="ArreParabrisas - Nosotros">
    <article class="my-4">
        <h2 class="font-bold text-center my-1 text-2xl">El Comienzo</h2>
        <p class="mt-4 mb-1">Todo comienza en el mes de octubre de 1999.</p>
        <p class="mb-1">
            Estaban de visita unos tios que viven en EEUU, y habiamos asilido a
            cenar, viajando en taxi repentinamente mi tío me dice con su acento
            marcado "ves el parabrisas que esta roto? Sabias que se puede
            reparar?" esa fue la frace inicial de este camino. Fue quien me
            ayudo a contactar la empresa que inicialmene me proveerá de equipo y
            material para la reparación.
        </p>
        <p>
            Y desde fines de 1999 comienza el proyecto de brindar el mejor
            servicio de reparación de parabrisas a domicilio. Para ello nos
            pusimos en contacto con una empresa de EEUU lider en el rubro
            dedicada desde 1984 a desarrollar productos para la reparación de
            Parabrisas. Surgimos como respuesta a una neceisdad de brindar un
            servicio a domicilio que le permitiera ahorrar tiempo a mis
            clientes.
        </p>
        <div class="flex justify-center mt-4">
            <Image
                src={imgTrabajando}
                alt="Diego reparando un parabrisas"
                width={360}
            />
        </div>
    </article>
</Layout>
