---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Como Queda">
    <!-- Zona central articulos y fotos -->
    <div class="bg-secondary text-white p-sm-2 p-2">
        <div class="box4">
            <h2>Y ¿Cómo queda después de reparado?</h2>
            <p>
                Muchos clientes suelen decir: "He visto reparado el parabrisas…”
                de un amigo o pariente, y que “no se nota nada" lo que genera
                una expectativa muy grande en el cliente un ejemplo son las
                siguientes imagenes:
            </p>
        </div>
        <div class="box">
            <figure>
                <img src="img/ImgReparacion.jpg" alt="Reparacion" />
            </figure>
        </div>
        <div class="box2">
            <p>
                La verdad es que todos los que nos dedicamos seriamente a este
                oficio intentamos obtener el resultado de las imágenes, sin
                embargo la realidad es distinta; cada rotura de parabrisas y la
                reparación del parabrisas es una historia diferente con
                resultados distintos.
            </p>
            <br />
            <h2 class="text-danger"><b>La Realidad</b></h2>
            <br />
            <p>
                En de todo tipo reparacion de parabrisas se produce una
                importante mejora visual, en los mejores casos llega hasta el
                90%.
            </p>
            <p>
                Pero es importante destacar que <b
                    >siempre queda algún tipo de marca en el vidrio</b
                >.<br />
                <h2><b>¿Por que?</b></h2>
                <p>
                    La respuesta es sencilla: Al reparar el parabrisas o cristal
                    utilizamos una resina que posee características físicas
                    diferentes al cristal, y la mas importante es indice de
                    refracción de la luz que si bien se encuentran cercanos no
                    son idénticos. Tambien condiciona el resultado el <span
                        class="italica"><b>tamaño de la rotura</b></span
                    > en los golpes y en las fracturas <span class="italica"
                        ><b>el tiempo</b></span
                    > que ha pasado desde que se rompe hasta que se repara el parabrisas.
                </p>
            </p>
        </div>
    </div>
</Layout>
