---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imgTrabajando from "../img/yoTrabajando.webp";
---

<Layout title="Contacto">
    <div class="bg-secondary text-white p-sm-2 p-4">
        <div class="col-12">
            <h2 class="text-center mt-1">Como Contactarnos</h2>
        </div>
        <div class="col-12">
            <p>Atendido unicamente por el dueño:</p>
            <Image
                src={imgTrabajando}
                alt="reparando un parabrisas"
                width="250"
                height="200"
            /><br />
            <p>Diego Esparrica</p><br />
        </div>
        <div class="col">
            <p>
                La reparación se realiza con turno; los trabajo a domicilio son
                de lunes a viernes entre 8hs a 16hs, del cliente previamente
                acordado el día, horario y lugar. Si usted desea acercarnos su
                vehiculo igualmente le solicitamos que se comunique con nosotros
                previamente. Puede enviarnos por e-mail su consulta, si cree que
                necesario puede enviar fotos para recibir una opinión sobre si
                es reparable y un presupuesto.
            </p>
            <p>
                Correo: <a
                    class="text-warning"
                    href="mailto:arreparabrisas@gmail.com"
                    >arreparabrisas@gmail.com</a
                >
            </p>
            <p>
                Cel.: <a class="text-warning" href="tel:+541150066160">
                    (11) 5006-6160</a
                > / <a class="text-warning" href="tel:+541163057151">
                    (11) 6305-7151</a
                > (Atencion de 8 hs a 19:30 hs)
            </p>
            <address>
                Ciudad Autonoma de Buenos Aires - Villaroel 1462 (domicilio
                particular)
            </address>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5042221218996!2d-58.44910818796115!3d-34.59140925673664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad09a9981bf%3A0xb87ceab3bf42cfe1!2sArreparabrisas!5e0!3m2!1ses!2sar!4v1712956992670!5m2!1ses!2sar"
                width="384"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</Layout>
