---
import "../css/globales.css";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import imgTrabajando from "../img/YoTrabajando.png";
---

<Layout title="Arreparabrisas">
	<!-- Zona central articulos y fotos -->
	<div class="bg-secondary text-white p-sm-2">
		<div class="row">
			<div class="col-12 col-sm-5 col-md-5 col-lg-4">
				<article>
					<h2 class="text-center mt-1">Arreglo del parabrisas</h2>
					<p class="m-3 mt-5 text-justify">
						La reparación de parabrisas es un proceso que se utiliza
						para recuperar la integridad estructural y óptica de un
						parabrisas que ha sido dañado por un impacto, como una
						piedra. El proceso generalmente implica la inyección de
						una resina especial en la grieta o astilla, seguida de
						la exposición a la luz ultravioleta para curar la
						resina. Es muy importante tener en cuenta que la
						recuperacion optica no es nunca del 100%, ya que al
						utilizar resina no se tiene la misma refraccion de la
						luz
					</p>
					<div class="text-center">
						<Image
							src={imgTrabajando}
							alt="Diego reparando un parabrisas"
							width={360}
						/>
					</div>
				</article>
			</div>
			<div class="col-12 col-sm-7 col-md-7 col-lg-8 align-self-center">
			</div>
		</div>
	</div>
</Layout>
