---
import "../css/menu.css";
import OptionsMenu from "./OptionsMenu.astro";
import Hamburguer from "./Hamburguer.astro";
---

<div
    class="menu sticky top-0 bg-bg-color flex justify-between z-20"
    transition:animate="none"
>
    <Hamburguer />
    <OptionsMenu />
</div>

<style>
    /* .menu {
        align-items: center;
        text-align: center;
        overflow: hidden;
        z-index: 100;
    } */

    @media (min-width: 468px) {
        .menu {
            display: flex;
            justify-content: space-between;
        }

        .menu-options {
            flex-direction: row;
            margin-top: 0;
            align-items: center;
            gap: 1.5rem;
        }

        .menu-options a {
            font-size: 1.7vw;
        }
    }
</style>
