---
import { Image } from "astro:assets";
import imgTrabajando from "../img/yoTrabajando.webp";
---

<article class="my-6 mx-4">
    <h2 class="text-2xl">El arreglo del parabrisas</h2>
    <p class="my-4 mx-auto">
        La reparación de parabrisas es un proceso que se utiliza para recuperar
        la integridad estructural y óptica de un parabrisas que ha sido dañado
        por un impacto, como una piedra. El proceso implica la inyección de una
        resina especial en la grieta o golpe, seguida de la exposición a la luz
        ultravioleta para curar la resina, puede ser luz solar o una lampara
        especial. Es muy importante tener en cuenta que la recuperacion optica
        no es nunca del 100%, ya que al utilizar resina no se tiene la misma
        refraccion de la luz, en otras palabras los golpes y rajaduras no
        desaparecen, se disimulan y depende de cada golpe, cada reparación es
        única.
    </p>

    <div class="">
        <Image
            src={imgTrabajando}
            alt="Diego reparando un parabrisas"
            width={360}
        />
    </div>
</article>
