---
import { Image } from "astro:assets";
import imgWhatsapp from "../img/whatsapp.svg";
---

<style>
    .footer-p__telefonos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-dr {
        font-size: small;
        text-align: left;
        padding: 2rem 0;
    }

    a {
        text-decoration: none;
        color: azure;
    }
</style>

<section class="text-claro bg-bg-color text-center p-4">
    <div class="">
        <h2 class="mb-4 text-xl">Información de contacto:</h2>

        <p class="footer-p__horarios mb-3">
            <span class="text-primario">Turnos</span> : lunes a viernes de <time
                >08:00</time
            > hs a
            <time>19:00</time> hs y sabados de<time>08:00</time>hs a
            <time>13:00</time>hs
        </p>
        <h3 class="text-lg">Telefonos</h3>
        <p class="footer-p__telefonos">
            <a href="tel:+541150066160"> (11) 5006-6160</a>
            <a href="https://wa.me/541150066160">
                <Image
                    src={imgWhatsapp}
                    width="40"
                    height="40"
                    alt="Icono whatsapp"
                />
            </a>
            /
            <a href="tel:+541163057151"> (11) 6305-7151</a>
            <a href="https://wa.me/541163057151">
                <Image
                    src={imgWhatsapp}
                    width="40"
                    height="40"
                    alt="Icono whatsapp"
                />
            </a>
        </p>
        <h3 class="text-lg">Correo:</h3>
        <p class="mb-3">
            <a href="mailto:arreparabrisas@gmail.com"
                >arreparabrisas@gmail.com</a
            >
        </p>
        <address class="mb-4">
            Villaruel 1462 - Villa Crespo - Ciudad Autónoma de Buenos
            Aires(domicilio particular)
        </address>

        <p class="text-sm">© 2024 Arreparabrisas - All Rights Reserved.</p>
    </div>
</section>
