---
import { Image } from "astro:assets";
import imgWhatsapp from "../img/whatsapp.svg";
---

<style>
    .bg-footer {
        background-color: #333;
    }
</style>

<section class="bg-footer">
    <div class="row">
        <div class="col">
            <h2>Información de contacto:</h2>
            <br />

            <p>
                Llamar para turno de lunes a viernes de <time>08:00</time> hs a
                <time>19:00</time> hs sabados <time>08:00</time>hs a
                <time>13:00</time>hs
            </p>
            <br />
            <p class="text-center">
                Cel.:
                <br />
                <a href="tel:+541150066160"> (11) 5006-6160</a>
                <a href="https://api.whatsapp.com/send?phone5491150066160">
                    <Image
                        src={imgWhatsapp}
                        width="40"
                        height="40"
                        alt="Icono whatsapp"
                    />
                </a>
                <br />
                <a href="tel:+541163057151"> (11) 6305-7151</a>
                <a href="https://api.whatsapp.com/send?phone5411963057151">
                    <Image
                        src={imgWhatsapp}
                        width="40"
                        height="40"
                        alt="Icono whatsapp"
                    />
                </a>
            </p>
            <p>
                Correo: <br />
                <a href="mailto:arreparabrisas@gmail.com"
                    >arreparabrisas@gmail.com</a
                >
            </p>
            <br />
            <address>
                Ciudad Autónoma de Buenos Aires - Adolfo Alsina 1138 (domicilio
                particular) - CP 1088
            </address>
        </div>
    </div>
</section>
