---
import { Image } from "astro:assets";
import imgHeader from "../img/imagenHero.webp";
---

<header class="flex relative text-claro">
    <Image
        class="-z-20 object-cover w-full h-80"
        src={imgHeader}
        alt="Imagen Header"
    />
    <div class="h-80 pt-20 w-full absolute text-center font-noto font-bold">
        <h1 class="text-5xl font-bold pb-20">
            <span class="italic">Arre</span>Parabrisas
        </h1>
        <h2 class="italic text-xl leading-6">
            Reparación de Parabrisas,<br class="leading-2" /> pequeños golpes y rajaduras
        </h2>
    </div>
</header>

<style>
    /* .header-titulo-span {
        font-style: italic;
    }
    h1 {
        font-weight: bold;
        padding-bottom: 0;
    }
    h2 {
        padding-top: 0;
        font-size: 4vw;
    } */

    @media (min-width: 468px) {
        .header-imagen {
            max-height: 40vw;
        }
        h1 {
            font-size: 6vw;
        }
        h2 {
            font-size: 3vw;
        }
    }
</style>
