<style>
    a {
        text-decoration: none;
        color: #fff;
        font-size: 2.6vw;
    }
    span {
        text-transform: uppercase;
    }
    .menu {
        align-items: center;
        text-align: center;
        overflow: hidden;
        padding: 1rem;
        background-color: #333;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .menu-titulo {
        color: red;
        font-weight: bold;
        font-size: 2vw;
    }
    .menu-options {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-transform: uppercase;
    }

    @media (min-width: 468px) {
        .menu {
            display: flex;
            justify-content: space-between;
        }

        .menu-options {
            flex-direction: row;
            margin-top: 0;
            align-items: center;
            gap: 1.5rem;
        }

        .menu-options a {
            font-size: 1.7vw;
        }
    }
</style>

<div class="menu">
    <a class="menu-titulo" href="/">Arre<span>parabrisas</span> </a>
    <div class="menu-options">
        <a class="" href="/">INICIO</a>
        <a class="" href="/lareparacion/">La Reparacion</a>
        <a class="" href="/about/">Nosotros</a>
        <a class="" href="/#">GARANTIA</a>
        <a class="" href="/contacto/">CONTACTO</a>
    </div>
</div>
