---
import "../css/globales.css";
---

<style>
    a {
        padding: 0.8rem;
        text-decoration: none;
        color: #f5d0d0;
        font-size: 2.6vw;
        cursor: pointer;
        transition: 0.3s;
    }
    a:hover {
        color: #bd2727;
        background-color: #797979;
    }
    span {
        text-transform: uppercase;
    }
    .menu {
        align-items: center;
        text-align: center;
        overflow: hidden;
        background-color: #333;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .menu-titulo {
        color: red;
        font-weight: bold;
        font-size: 4vw;
        padding-top: 1rem;
    }
    .menu-options {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-transform: uppercase;
    }

    @media (min-width: 468px) {
        .menu {
            /* padding: 0.8rem; */
            display: flex;
            justify-content: space-between;
        }

        .menu-options {
            flex-direction: row;
            margin-top: 0;
            align-items: center;
        }

        .menu-options a {
            font-size: 1.8vw;
        }
        .menu-titulo {
        }
    }
</style>

<div class="menu">
    <a class="menu-titulo" href="/">Arre<span>parabrisas</span> </a>
    <div class="menu-options">
        <a class="" href="index.html">INICIO</a>
        <a class="" href="/about/">Nosotros</a>
        <a class="" href="#">GARANTIA</a>
        <a class="" href="#">CONTACTO</a>
    </div>
</div>
