<nav class="nav-links text-primario">
    <a class="line" href="/">INICIO</a>
    <a class="line" href="/lareparacion/">La Reparacion</a>
    <a class="line" href="/about/">Nosotros</a>
    <a class="line" href="/contacto/">CONTACTO</a>
</nav>
