<nav class="nav-links text-primario" transition:animate="none">
    <a class="line hover:bg-bg-color md:hover:bg-slate-400" href="/">INICIO</a>
    <a
        class="line hover:bg-bg-color md:hover:bg-slate-400"
        href="/lareparacion/">La Reparacion</a
    >
    <a class="line hover:bg-bg-color" href="/about/">Nosotros</a>
    <a class="line hover:bg-bg-color" href="/contacto/">CONTACTO</a>
</nav>
