<nav class="nav-links">
    <a class="line" href="/">INICIO</a>
    <a class="line" href="/lareparacion/">La Reparacion</a>
    <a class="line" href="/about/">Nosotros</a>
    <a class="line" href="/#">GARANTIA</a>
    <a class="line" href="/contacto/">CONTACTO</a>
</nav>

<!-- <style>
    .menu-options {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-transform: uppercase;
        cursor: pointer;
    }
</style> -->
