---
import { Image } from "astro:assets";
import imgSlide1 from "../img/carrusel/carrusel-1.jpg";
import imgSlide2 from "../img/carrusel/carrusel-2.jpg";
import imgSlide3 from "../img/carrusel/carrusel-3.jpg";
---

<style>
    .imagenes {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
</style>

<div class="mySlides">
    <Image class="imagenes" src={imgSlide1} alt="primer slide" />
    <Image class="imagenes" src={imgSlide2} alt="primer slide" />
    <Image class="imagenes" src={imgSlide3} alt="primer slide" />
</div>
