---
import "../css/globales.css";
import Header from "../components/Header.astro";
import BarraMenu from "../components/BarraMenu.astro";
import Footer from "../components/Footer.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
const nameGoogle = "google-site-verification";
const codeG = "NxhIYyeJvPZdvlkIDS6AX0G1ilLdfiGp8YO6rMMurGE";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Arizonia&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<meta name={nameGoogle} content={codeG} />
		<meta name="author" content="Diego Esparrica" />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<BarraMenu />

		<section class="max-w-4xl mx-auto" transition:animate="slide">
			<slot />
		</section>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
