---
import "../css/globales.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta
			name="google-site-verification"
			content="NxhIYyeJvPZdvlkIDS6AX0G1ilLdfiGp8YO6rMMurGE"
		/>
		<meta name="author" content="Diego Esparrica" />
	</head>
	<body>
		<Header />
		<Navigation />
		<slot />
		<!-- Scripts JS -->
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
			integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
			crossorigin="anonymous"></script>
	</body>
</html>
